body {
	font-family: cursive, sans-serif;
}
#title {
	font-size: 4em;
	text-align: center;
	margin: 0.3em;
}
section {
	border: 5px solid black;
	border-radius: 4px;
}

section>h2 {
	font-size: 1.5em;
	margin: 0.2em;
	margin-left: 2em;
}
section>h5 {
	margin: 0;
	margin-left: 1em;
}

.mdInput {margin-bottom: 1em;}

label {
	font-size: 1em;
}



#details {
	position: absolute;
	height: 28.6em;
	width: 46%;
	margin-left: 3%;
}

form {
	text-align: center;
	padding-top: 3em;
}

label:nth-of-type(2) {
	margin-left: 2.9em;
}

button {
	font-family: cursive;
	font-size: 1em;
	margin: .5em;
}

#charges {
	width: 45%;
	margin-left: 52%;
	position: absolute;
	top: 8em;
	height: 13em;
}

#earnings {
	width: 45%;
	position: absolute;
	height: 13em;
	top: 23.6em;
	margin-left: 52%;
}

#reset {
	position: absolute;
	top: 38em;
	right: 3em;
}