body {
	font-family: cursive, sans-serif;
	padding: 1em;
}
#title {
	font-size: 3em;
	text-align: center; 	
}
section {
	border: 5px solid black;
}

#details {
	float: left;
	margin: 0 auto;
	clear: both;
	height: 28.6em;
	width: 43%;
	margin-left: 5em;
}

#charges {
	float: right;
	margin-right: 4em;
	width: 38%;
	height: 13em;
	margin-bottom: 2em;
}

#earnings {
	float: right;
	margin-right: 4em;
	width: 38%;
	height: 13em;
}